.numeros-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 2 / 4;
  gap: 30px;
}

.numeros-grid h3 {
  font-family: "Playfair Display SC";
  font-size: 2rem;
  margin-bottom: 8px;
}

.numeros-grid span {
  font-family: "IBM Plex Mono", monospace;
  font-size: 1.5rem;
  font-weight: bold;
  color: #e54;
}

@media (max-width: 700px) {
  .numeros-grid {
    grid-column: 1;
  }
  .numeros-grid h3 {
    font-size: 1.5rem;
  }
}
